<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://www.topbestpics.com/wp-content/uploads/2019/03/Funny-Pictures-Funny-Baby-Pics-8-480x350.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>