/*
for images displaying in a row to wrap around each other when resizing the screen
*/
.multi-display{
    display:flex; 
    flex-wrap: wrap;
}

/*select img tag inside thumbnail class*/
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/*
FORM by default is not inline elements
To make two form buttons to display inline
*/
#delete-form {
    display: inline;
}