<!DOCTYPE html>
<html> 
    <head>
    <!-- Our metadata goes here -->
    <title>Demo App</title>
    <link rel = "stylesheet" type="text/css" href = "/app.css">
    </head> 
    
    <body>
    <!-- Our content goes here -->
